<h3 class="title menu-color"><%= link_to icon("inbox","Inbox")%></h3>
<% @messages.each do |message| %>
  <div class="message">
    <div class="message-header"></div>
      <strong class=""> From:</strong> <%= message.sender.name %>
      <strong class=""> To:</strong> <%= message.receiver.name %>
    <div class="message-body"><%= message.body%> </div>
  </div>
<% end %>
