<h1>Sent</h1>
<% @messages.each do |message| %>
  <div class="message">
    <div class="message-header"></div>
      <strong class=""> To:</strong> <%= message.receiver.name %>
      <strong class=""> From:</strong> <%= message.sender.name %>
    <div class="message-body"><%= message.body%> </div>
  </div>
<% end %>
