
<p class="car">
  <h5 style="color:#b5a3b6; background-color: #1e97bd; text-align: center;">Find some friends here</h5>
</p>
<div class="columns is-multiline friends-list">
  <% @users.except(current_user).each do |stranger| %>
    <%= render "card", another_user: stranger  %>
  <% end %>
</div>

<nav class="pagination is-centered">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link is-current">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link">5</a></li>
    <li><a class="pagination-link ">7</a></li>
    <li><a class="pagination-link">10</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link">15</a></li>
  </ul>
</nav>

