.navbar-burger {
  &:hover {
    background-color: darken($purple, 10%);
  }
  > span {
    background-color: purple;
  }
}

.navbar-brand .navbar-item {
  padding: 0;
  img {
    max-height: 3rem;
  }
}

span.icon {
  margin-right: 5px;
}

.add-remove {
  width: 160px;
}

.navbar-item .field {
  .input,
  .icon {
    height: 1.8em;
  }
}

.background_image {
    background: image-url("1.jpg");
    /* Full height */

    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}


.background_navbar{
    background: image-url("2.jpg");
    /* Full height */
    height: 70px;

//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
}


.card-hover:hover {
  background-color: lightgray;
}

.columns{
  padding-top :20px;
}

.menu-color{
  -webkit-text-fill-color: purple;
}
